@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 60 33% 97%;
    --foreground: 214 46% 19%;

    --card: 0 0% 100%;
    --card-foreground: 214 46% 19%;

    --popover: 0 0% 100%;
    --popover-foreground: 214 46% 19%;

    --primary: 214 46% 19%;
    --primary-foreground: 60 33% 97%;

    --secondary: 34 30% 82%;
    --secondary-foreground: 214 46% 19%;

    --muted: 37 33% 90%;
    --muted-foreground: 211 15% 47%;

    --accent: 34 77% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 46%;
    --destructive-foreground: 0 0% 100%;

    --border: 30 27% 83%;
    --input: 30 27% 83%;
    --ring: 34 77% 47%;

    --radius: 0.75rem;

    --success: 157 47% 33%;
    --warm: 34 30% 64%;
    --sand: 34 37% 82%;
    --light-navy: 214 46% 33%;

    --sidebar-background: 214 46% 19%;
    --sidebar-foreground: 60 33% 97%;
    --sidebar-primary: 34 77% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214 46% 25%;
    --sidebar-accent-foreground: 60 33% 97%;
    --sidebar-border: 214 20% 30%;
    --sidebar-ring: 34 77% 47%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
